<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>

  <body>
    <header>

      <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        
        
        <%= link_to "Students", students_url, :class => 'navbar-link ml-auto'%> |
        <%= link_to "Instructors", instructors_url%> |
        <%= link_to "Courses", courses_url%> |
        <%= link_to "Cohorts", cohorts_url%> |
        <%= link_to "Logout", destroy_user_session_url, method: :delete, :class => 'navbar-link ml-auto'%> 
         <br/>
        Logged in as <strong><%= current_user.email %></strong> 
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <%end%>
  </p>
      </header>
  
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% elsif alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
