<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag %>

</head>
  <body>
  <header class="header-width">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

          <% if user_signed_in? %>
            <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li><%= link_to "Home", root_url, class: 'uk-active'%>
              <li><%= link_to "Students", students_url, class: 'uk-active'%> </li> 
              <li><%= link_to "Instructors", instructors_url, class: 'uk-active'%> </li> 
              <li><%= link_to "Courses", courses_url, class: 'uk-active'%> </li> 
              <li><%= link_to "Cohorts", cohorts_url, class: 'uk-active'%> </li> 
            </ul>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li><%= link_to "Logout", destroy_user_session_url, method: :delete, :class => 'uk-active'%> 
          </ul>
        </div>
      
    <% else %>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><%= link_to "Home", root_url, class: 'uk-active'%>
        </ul>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li><%= link_to "Sign up", new_user_registration_path, class: 'uk-active' %> </li> 
            <li><%= link_to "Login", new_user_session_path, class: 'uk-active'  %> </li> 
           </ul>
        </div>
      </div>
    <%end%>
    </nav>

    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
  </p>
  </header>
    <%= yield %>
  </body>
</html>
